{% extends 'base.html' %}

{% load filters %}

{% block title %}all{% endblock %}

{% block content %}

{% include '_nav.html' %}


{% if entries %}

  {% for scores in entries %}
  {% with details=entries|get_attr:scores %}
  <details class="separator">
    <summary>
      {{ scores }} {{ entries|get_attr:scores|length }}
    </summary>
      <table>
      {% for score in details %}
      <tr class="separator">
        <td>{{ score.date }}</td>
        <td>{{ score.context }}</td>
      </tr>
      {% endfor %}
      </table>
  </details>
  {% endwith %}
  {% endfor %}


{% endif %}

{%endblock %}
