{% extends "base.html" %}
{% load static %}

{% block title %}all{% endblock %}

{% block content %}

<div>
  {% if user.is_authenticated %}
  <button>
    <a href="{% url 'tracker:new' %}"> new </a>
  </button>
  {% endif %}

  <button>
    <a href="{% url 'tracker:list' %}"> list </a>
  </button>
</div>

{% if entries %}
<div id="canvas">
  <canvas id="happiness-canvas" width="1000" height="560"></canvas>
</div>

<div><p id="entry-context">...</p> </div>

<script type="text/javascript">
  const entries = {{ entries| safe }}
</script>
<script type="text/javascript" src="{% static '/js/graph.js' %}"></script>

{% else %}
no entries
{% endif %}

{% endblock %}
