{% extends "base.html" %}

{% block title %}all{% endblock %}

{% block content %}

<div>
  {% if user.is_authenticated %}
  <button>
    <a href="{% url 'tracker:new' %}"> new </a>
  </button>
  {% endif %}

  <button>
    <a href="{% url 'tracker:graph' %}"> graph </a>
  </button>
</div>


{% if entries %}
<table>
  <tr>
    <th>score</th>
    <th>context</th>
    <th>datetime</th>
    {% if user.is_authenticated %}
    <th>edit</th>
    <th>delete</th>
    {% endif %}
 </tr>
  {% for entry in entries %}
  <tr class="separator">
      <td>{{ entry.score }}</td>
      <td>
        {% if not entry.context == None %}
        {{ entry.context }}
        {% endif %}
      </td>
      <td>{{ entry.date }} {{ entry.time }}</td>
      {% if user.is_authenticated %}
      <td><a href="{% url 'tracker:edit' entry.id %}">  📝 </a></td>
      <td><a href="{% url 'tracker:delete' entry.id %}"> 🗑️ </a></td>
      {% endif %}
    </tr>
  {% endfor %}
  </table>
{% else %}
<p>No entry available.</p>
{% endif %}
{%endblock %}
