{% extends "base.html" %}

{% block title %}all{% endblock %}

{% block content %}

<div>
  <button>
    <a href="{% url 'tracker:graph' %}"> see the graph </a>
  </button>
</div>

<div>
  <button>
    <a href="{% url 'tracker:new' %}"> new </a>
  </button>
</div>

{% if entries %}
<table>
  <tr>
    <th>score</th>
    <th>date</th>
    <th>time</th>
    <th>context</th>
    <th>delete</th>
  </tr>
  {% for entry in entries %}
  <tr>
      <td>{{ entry.score }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.get_time_of_day }}</td>
      <td>{{ entry.context }}</td>
      <td><a href="{% url 'tracker:delete' entry.id %}"> 🗑️ </a></td>
    </tr>
  {% endfor %}
  </table>
{% else %}
<p>No entry available.</p>
{% endif %}
{%endblock %}

<button>
  <a href="{% url 'tracker:new' %}"> new </a>
</button>
