{% extends "base.html" %}

{% block title %}all{% endblock %}

{% block content %}

<div>
  {% if user.is_authenticated %}
  <button>
    <a href="{% url 'tracker:new' %}"> new </a>
  </button>
  {% endif %}

  <button>
    <a href="{% url 'tracker:graph' %}"> graph </a>
  </button>
</div>


{% if entries %}
<table>
  <tr>
    <th>score</th>
    <th>date</th>
    <th>time</th>
    {% if user.is_authenticated %} <th>delete</th> {% endif %}
 </tr>
  {% for entry in entries %}
  <tr>
      <td>{{ entry.score }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.time }}</td>
      {% if user.is_authenticated %}
      <td><a href="{% url 'tracker:delete' entry.id %}"> 🗑️ </a></td>
      {% endif %}
    </tr>
    <tr class="separator">
      <td colspan="4">
      {% if entry.context == None %}
      {% else %}
      {{ entry.context }}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% else %}
<p>No entry available.</p>
{% endif %}
{%endblock %}
