{% extends "base.html" %}

{% block title %}new{% endblock %}

{% block content %}

<form action="{% url 'tracker:new' %}" method="post">
  {% csrf_token %}
  <fieldset>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <!--{% for score in scores %}
    <div class="form score-item">
      <input type="radio" name="score" id="score{{ forloop.counter }}" value="{{ score.id }}">
      <label for="score{{ forloop.counter }}">{{ score }}</label>
    </div>
    {% endfor %}-->


    <div id="canvas" style="border: 3px black solid;">
      <canvas id="emotion-wheel-canvas" width="500" height="500"></canvas>
    </div>

    <div>
      <input type="datetime-local" value='{% now "Y\-m\-d\TH:i" %}' name="datetime"></input>
    </div>

    <div>
      <textarea name="context"></textarea>
    </div>
  </fieldset>
  <input type="submit" value="Add">
</form>

<a href="{% url 'tracker:graph' %}">&larr; back</a>


<script>
  const canvas = document.getElementById("emotion-wheel-canvas");
  const ctx = canvas.getContext("2d");
  //const entries = {{ entries|safe }}

  const C = 250
  const radius = 125
  ctx.lineWidth = 250
  arcSize = Math.PI/4

  ctx.fillStyle = '#FFF'
  ctx.font = "15px monospace"
  ctx.textBaseline = 'middle'
  ctx.textAlign = 'center'

  const innerText = 80
  const middleText = 140
  const outerText = 200

  /*
  --yellow: #fabf35
  --green:  #7ab84a
  --aqua:   #579e79
  --blue:   #577590
  --violet: #643c7d
  --pink:   #8a4e7b
  --red:    #e52124
  --orange: #d97b09
  */
  emotions = [
    {'color': '#fabf35', 'names': ['ECSTAZY',    'JOY',       'SERENITY'     ]},   //  🤪😀🙂
    {'color': '#7ab84a', 'names': ['ADMIRATION', 'TRUST',     'ACCEPTANCE'   ]},   //  😍😊 ?
    {'color': '#579e79', 'names': ['TERROR',     'FEAR',      'APPREHENSION' ]},   //  😱😨😞
    {'color': '#577590', 'names': ['AMAZEMENT',  'SURPRISE',  'DISTRACTION'  ]},   //  ?😯😳
    {'color': '#643c7d', 'names': ['GRIEF',      'SADNESS',   'PENSIVENESS'  ]},   //  🙁😖😭
    {'color': '#8a4e7b', 'names': ['LOATHING',   'DISGUST',   'BOREDOM'      ]},   //  🤮?🙄
    {'color': '#e52124', 'names': ['RAGE',       'ANGER',     'ANNOYANCE'    ]},   //   ☹️😒😡
    {'color': '#d97b09', 'names': ['EXHAUSTION', 'TIREDNESS', 'FATIGUE'      ]}    //  😐🥱😴
  ]

  emotions.forEach((emotion, index) => {
    ctx.beginPath();
    ctx.strokeStyle = emotion.color
    ctx.arc(C, C, radius, arcSize * index, arcSize * (index+1))
    ctx.stroke();
    ctx.fillText(emotion.names[0], C + Math.cos(arcSize * (index + .5))*innerText, C + Math.sin(arcSize * (index + .5))*innerText)
    ctx.fillText(emotion.names[1], C + Math.cos(arcSize * (index + .5))*middleText, C + Math.sin(arcSize * (index + .5))*middleText)
    ctx.fillText(emotion.names[2], C + Math.cos(arcSize * (index + .5))*outerText, C + Math.sin(arcSize * (index + .5))*outerText)
  })

</script>

{% endblock %}
