{% extends "base.html" %} {% block title %}all{% endblock %} {% block content %}

<div>
  <button>
    <a href="{% url 'tracker:index' %}"> ← </a>
  </button>
</div>

<div>
  <button>
    <a href="{% url 'tracker:new' %}"> new </a>
  </button>
</div>

{% if entries %}

<canvas id="myCanvas" width="1000" height="230"></canvas>

<script>
  const canvas = document.getElementById("myCanvas");
  const ctx = canvas.getContext("2d");

  const entries = {{ entries|safe }}

  ctx.fillStyle = "FireBrick";
  ctx.font = "10px monospace";
  ctx.fillText('AM', 25, 50)
  ctx.fillText('PM', 25, 100)
  ctx.fillText('N', 25, 150)

  let shiftingEmpties = 0
  const spaceBetweenDays = 40
  for (var i = 0 ; i < entries.length ; i++) {
    // {'score': '🙂️', date:'dd/mm', 'relative_days': 26, 'time': 'N', 'context': '...'}
    if (i > 0 && entries[i]['relative_days'] - entries[i-1]['relative_days'] > 2) {
      // reduce space between long periods of time
      console.log('gap before', entries[i], 'of '+(entries[i]['relative_days'] - entries[i-1]['relative_days'])+' days')
      shiftingEmpties += (entries[i]['relative_days'] - entries[i-1]['relative_days']) * (spaceBetweenDays/1.5)
      ctx.font = "20px bold monospace";
      ctx.fillText('...', x+50, 200)
    }//*/
    // smileys
    ctx.font = "30px monospace";
    x = (entries[i]['relative_days'] * spaceBetweenDays) + 50 - shiftingEmpties
    console.log(`${i} -> x: ${x} // relative_days: ${entries[i]['relative_days']} // shiftingEmpties: ${shiftingEmpties}`)
    if (entries[i]['time'] == 'AM') y = 50
    else if (entries[i]['time'] == 'PM') y = 100
    else if (entries[i]['time'] == 'N') y = 150
    else y = 0
    ctx.fillText(entries[i]['score'], x, y)

    // date
    if (i == 0 || entries[i]['date'] !== entries[i-1]['date']) {
      ctx.font = "10px monospace";
      ctx.fillText(entries[i]['date'], x, 200)
    }
  }
</script>
{% else %} no entries :() {% endif %} {%endblock %}
