{% extends "base.html" %}

{% block title %}all{% endblock %}

{% block content %}

<div>
  <button>
    <a href="{% url 'tracker:graph' %}"> see the graph </a>
  </button>
</div>

<div>
  <button>
    <a href="{% url 'tracker:new' %}"> new </a>
  </button>
</div>

{% if entries %}
<ul class="entries">
  {% for entry in entries %}
  <li class="time-{{ entry.get_time_of_day }} day-year-{{ entry.get_days_since_year_beginning}} day-{{ entry.get_days_since_first_date }}" >
    <a href="{% url 'tracker:entry' entry.id %}">
      {{ entry.score }} {{ entry.datetime }}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No entry available.</p>
{% endif %}
{%endblock %}

<button>
  <a href="{% url 'tracker:new' %}"> new </a>
</button>
