ul.entries {
  position: relative;
  list-style: none;
}

.time-legend {
  left: 0px;
}
.time-AM {
  padding-left: 50px;
  left: 0;
}

.time-PM {
  padding-left: 100px;
  left: 0;
}

.time-N {
  padding-left: 150px;
  left: 0;
}

.entries li {
  position: relative;
  top: 0;
}
.entries li::before {
  content: "x ";
}

.entries .day-0 {
  top: 0px;
}
.entries .day-1 {
  top: 1px;
}
.entries .day-2 {
  top: 2px;
}
.entries .day-3 {
  top: 3px;
}
.entries .day-4 {
  top: 4px;
}
.entries .day-5 {
  top: 5px;
}
.entries .day-6 {
  top: 6px;
}
.entries .day-7 {
  top: 7px;
}
.entries .day-8 {
  top: 8px;
}
.entries .day-9 {
  top: 9px;
}
.entries .day-10 {
  top: 10px;
}
.entries .day-11 {
  top: 11px;
}
.entries .day-12 {
  top: 12px;
}
.entries .day-13 {
  top: 13px;
}
.entries .day-14 {
  top: 14px;
}
.entries .day-15 {
  top: 15px;
}
.entries .day-16 {
  top: 16px;
}
.entries .day-17 {
  top: 17px;
}
/* lol, do that in sass  */
