body {
  margin: 0 auto;
  // max-width: 600px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// HEADER
header {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid;
}

main {
  margin: 30px;
}

div#canvas {
  overflow-y: scroll;
}

// TABLES
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
tr.separator {
  border-bottom: 1px solid #eee;
}

tr:hover { background-color: #eee; }
